{% block body %}
    {% include "navbar.html.twig" %}
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="/css/calendrier.css" /> 
    {% endblock %}
    <body>
    <div class ="d-flex flex-row align-items-center justify-content-between mx-ms-3">
     <h1>{{ h(month.tostring()) }}</h1>
     <div>
        <a href="/calendrier.php?month={{month.previousMonth().month}}&year={{month.previousMonth().year}}" class="btn btn-primary">&lt</a>
        <a href="/calendrier.php?month={{month.nextMonth().month}}&year={{month.nextMonth().year}}" class="btn btn-primary">&gt</a>
     </div>
    </div>
        <table class="calendar__table calendar__table--{{weeks}}weeks">
            {% for i in 0..weeks - 1 %}
                <tr>
                    {% for key, jour in month.days %}
                        {% set currentDate = start|date_modify("+" ~ (key + i * 7) ~ "days") %}
                        {% set eventsForDay = events[currentDate.format('Y-m-d')] ?? [] %}
                        <td class="{{ month.withinMonth(currentDate) ? '' : 'calendar__othermonth' }}">
                        {% if i == 0 %}
                        <div class="calendar__weekday">{{ h(jour) }}</div>
                        {% endif %}
                            <div class="calendar__day">{{ h(currentDate.format('d'))}}</div>
                            {% for key, event in eventsForDay %}
                                <div class = "calendar__event">
                                 {{(events_result[key]['heure'])|date('H:i')}} - <a href="/event.php?Id={{events_result[key]['Id']}}">{{events_result[key]['titre']}}</a>
                                </div>
                            {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </body>
    <footer>
        {% include "footer.html.twig" %}
    </footer>
{% endblock %}
