{% block body %}
    {% include "navbar.html.twig" %}
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="/css/calendrier.css" /> 
    {% endblock %}
    <body>
    <div class ="d-flex flex-row align-items-center justify-content-between mx-ms-3">
     <h1>{{ month.tostring() }}</h1>
     <div>
        <a href="/calendrier.php?month={{month.previousMonth().month}}&year={{month.previousMonth().year}}" class="btn btn-primary">&lt</a>
        <a href="/calendrier.php?month={{month.nextMonth().month}}&year={{month.nextMonth().year}}" class="btn btn-primary">&gt</a>
     </div>
    </div>
        <table class="calendar__table calendar__table--{{ month.getWeeks()}}weeks">
            {% for i in 0..month.getWeeks() - 1 %}
                <tr>
                    {% for key, jour in month.days %}
                        {% set currentDate = start|date_modify("+" ~ (key + i * 7) ~ "days") %}
                        <td class="{{ month.withinMonth(currentDate) ? '' : 'calendar__othermonth' }}">
                        {% if i == 0 %}
                        <div class="calendar__weekday">{{ jour }}</div>
                        {% endif %}
                            <div class="calendar__day">{{ currentDate.format('d') }}</div>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </body>
    <footer>
        {% include "footer.html.twig" %}
    </footer>
{% endblock %}
