{% extends "base_auth.html.twig" %}
{% block body %}

    {% include "navbar.html.twig" %}

    <!-- Add your stylesheets and scripts here -->
    <link rel="stylesheet" href="templates/style.css">

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title mb-4">
                            <!-- Profile picture section -->
                            
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo" role="tab" aria-controls="basicInfo" aria-selected="true">Basic Info</a>
                                    </li>
                                </ul>
                                <div class="tab-content ml-1" id="myTabContent">
                                    <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                                        <!-- Display user information dynamically -->
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">NOM :</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                {{ userData.Nom }}
                                            </div>
                                        </div>
                                        <hr />

                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">PRENOM :</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                {{ userData.Prenom }}
                                            </div>
                                        </div>
                                        <hr />

                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">MAIL :</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                {{ userData.AdresseMail }}
                                            </div>
                                        </div>
                                        <hr />

                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">NUMERO :</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                {{ userData.NumeroTel}}
                                            </div>
                                        </div>
                                        <hr />

                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">ADRESSE :</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                {{ userData.Adresse }}
                                            </div>
                                        </div>
                                        <hr />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

            {% if msg %}
                <div id="alert" class="alert alert-danger" role="alert">
                    <div>{{ msg }}</div>
                </div>
            {% endif %}
    
    <div>
    </div> 

    <div>  
    </div>
    <footer>
        {% include "footer.html.twig" %}
    </footer>
 
<style>
/* Style pour la section de la photo de profil */
.profile-picture {
    text-align: center;
    margin-bottom: 20px;
}

.profile-picture img {
    width: 150px; /* Taille de la photo de profil */
    height: 150px;
    border-radius: 50%; /* Pour créer une forme circulaire */
    object-fit: cover;
}

.upload-profile-picture {
    margin-bottom: 10px;
}

/* Style pour le bouton de téléchargement de photo */
.upload-profile-picture input[type="file"] {
    display: none; /* Masque le champ de fichier d'entrée par défaut */
}

.upload-profile-picture label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.upload-profile-picture label:hover {
    background-color: #0056b3;
}

.upload-profile-picture small {
    display: block;
    margin-top: 5px;
    color: #6c757d;
}


</style>
   
{% endblock %}
